<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book & Authors</title>
</head>
<body>
    <div class="conteiner">

        <h1>{{authors.first_name}} {{authors.last_name}}</h1>
        <h2>ID :{{authors.id}}</h2>
        <h3>Notes :{{authors.notes}}</h3><br><br>
        {% for x in author.books.all %}
        <p>{{x.title}}</p>
        {% endfor %}
        <h3>Book :</h3>
        <form action="view_book/{{x.id}}" method="post">
            {% csrf_token %}
            <select name="book" id="book">
                {% for x in book %}
                <option value="{{x.id}} ">{{x.title}} </option>
                {% endfor %}
            </select>
            
        
        </form>

    </div>
</body>
</html>